{{> partials/header}}

<div id="main" class="container">
  {{#if (or (eq page "#") (eq page ""))}}
    {{> partials/home}}
  {{else if (eq page "#about")}}
    {{> partials/about}}
  {{else if (eq page "#contact")}}
    {{> partials/contact}}
  {{else}}
    {{> partials/notFound}}
  {{/if}}
</div>

{{> partials/footer}}